.header {
  background-color: #000080;
}
.header :global(.nav-link) {
  font-size: 15px;
}
.header .homeLink {
  font-family: "Oswald", sans-serif;
  font-size: 17px;
}
.header .dropDown :global(.nav-item) :global(.nav-link) {
  color: #000080;
  font-weight: 400;
}
