.header {
    background-color:#000080;
    :global(.nav-link) {
        font-size: 15px;
    }
    .homeLink {
        font-family: 'Oswald', sans-serif;
        font-size: 17px;
    }
    .dropDown {
        :global(.nav-item) {
            :global(.nav-link) {
                color: #000080;
                font-weight: 400;
            }
        }
    }
}