.parent {
    height: calc(100vh - 54px);
    width: 100%;
    position: relative;
    .inlineDiv {
        background-color: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .errorCode {
            font-weight: bold;
            font-size: 230px;
            line-height: 200px;
            color: #000080;
        }
        .errorMessage {
            font-size: 25px;
            text-align: right;
        }
        .backToHome {
            text-align: right;
            font-size: 16px;
        }
    }
}